<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658237487684-btm97jk9f2nq7jj3lhs6dk7vnplcl3fk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658237487684-btm97jk9f2nq7jj3lhs6dk7vnplcl3fk</string>
	<key>API_KEY</key>
	<string>AIzaSyD5UIGYNBPWs6fjqAm_SglgOOLLd9ykz-0</string>
	<key>GCM_SENDER_ID</key>
	<string>658237487684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kkg.Auth-Firebase</string>
	<key>PROJECT_ID</key>
	<string>auth-firebase-feedf</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-firebase-feedf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658237487684:ios:7100386277e965c1a61a11</string>
</dict>
</plist>